html {
  box-sizing: border-box;
  display: flex;
  font-family: "Overpass" Bold;
  background-image: linear-gradient();
}

*, *::before, *::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

.icon {
  fill: #ff9500;
}
