html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Overpass, Bold;
  text-size-adjust: 100%;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
  text-align: center;
}

*,
*::before, *::after {
  box-sizing: inherit;
}

body {
margin: 0;
padding: 0;
}

.icon {
  fill: #fff;
}

.icon svg {
  height: 8rem;
  width: 8rem;
display: block;
  margin: auto;
}

h1 {
text-align: left;
}



h3 {
  font-weight: lighter;
  font-size: 1.25rem;
text-align: left;
}

a {
  border: .2rem solid rgba(255, 255, 255, .7);
  padding: 6vmin;
  text-decoration: none;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
    margin: 1rem 0;
  }

section {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-between;
gap: 2.1rem;
}

main {
  margin-top: 1.5rem;
}

a {
  padding: 1rem;
  margin: auto;
  font-size: 1.125rem;
  text-align: left;
}

h1 {
  margin-top: 1.5rem;
text-align: center;
margin-bottom: 2.5rem;
}

h3 {
font-size: 1rem;

@media only screen and (min-width: 60em) {

}
