html {
  box-sizing: border-box;
  font-family: "Overpass", Bold;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
margin: 1.5rem;
line-height: 1.5;
}

.icon {
position: relative;
height: 8rem;
width: 8rem;
}

h3 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

a {
  border: .2rem solid rgba(255, 255, 255, .7);
  padding: 6vmin;
  text-decoration: none;
  color: #fff;
}
